<h4>Student Service</h4>

<div class="search-container">
  <mat-form-field>
    <mat-label>Search by last name</mat-label>
    <input matInput [(ngModel)]="lastNameQuery" />
  </mat-form-field>
  <button class="search-button" mat-raised-button color="primary" (click)="onSearch()">Search</button>
</div>

@if (isLoading()) {
  <mat-spinner diameter="40"></mat-spinner>
}

@if (!isLoading() && students().length > 0) {
  @for (student of students(); track student.studentId) {
    <mat-card class="student-card" appearance="outlined">
      <div style="margin: 25px;">
          <app-student-details [student]="student" />
      </div>      
    </mat-card>
  }
}

@if (!isLoading() && students().length === 0 && lastNameQuery) {
  <p>No results found.</p>
}
